@model Texnicum.ViewModels.Disciplines.EditDisciplineViewModel

@{
    ViewData["Title"] = "Изменение - Дисциплины";
}

<h1>Редактирование</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-controller="Disciplines" asp-action="Index">Дисциплины</a></li>
        <li class="breadcrumb-item active">Изменение</li>
    </ol>
</nav>

<h4>Дисциплины</h4>
<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Изменение дисциплины
</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Disciplines" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IndexProfModule" class="control-label"></label>
                <input asp-for="IndexProfModule" class="form-control" />
                <span asp-validation-for="IndexProfModule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfModule" class="control-label"></label>
                <input asp-for="ProfModule" class="form-control" />
                <span asp-validation-for="ProfModule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Index" class="control-label"></label>
                <input asp-for="Index" class="form-control" />
                <span asp-validation-for="Index" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <select asp-for="IdUser" class="form-control" asp-items="ViewBag.IdUser"></select>
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}